<table class="table table-hover">
    <thead>
        <tr class="table-info">
            <th scope="col">#</th>
            <th scope="col">Book Title</th>
            <th scope="col">Book Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Ordered Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-secondary" *ngFor="let order of data; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{order.book.title}}</td>
            <td>{{order.book.price}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.orderDate | date:'fullDate'}}</td>
            <td>
                <button [ngClass]="{'disabled': loading }" (click)="completeOrder(order.id)" type="button"
                    class="btn btn-outline-success">
                    <i class="bi bi-cart-check"></i></button>
                <button [ngClass]="{'disabled': loading }" (click)="deleteOrder(order.id)" type="button"
                    class=" btn btn-outline-danger">
                    <i class="bi bi-cart-x"></i></button>
            </td>
        </tr>

    </tbody>
</table>